body {
  display: grid;
  justify-content: center;
  align-items: center;
}

#top {
  display: grid;
  justify-content: center;
  align-items: center;
}

#mid {
  display: grid;
  justify-content: center;
  align-items: center;
}

#midTop {
  display: grid;
  justify-content: center;
  align-items: center;
}

#midBottom {
  display: grid;
  justify-content: center;
}

#imageNames {
  column-count: 3;
}

#bot {
  display: grid;
  justify-content: center;
  align-items: center;
}